/* :root{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
} */
button {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #2b52a7;
  border-radius: 50em;
  border: 0.08em solid rgb(15, 81, 223);
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50em;
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
.spanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none !important;
  color: black;
}
